@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Serif:ital@1&family=Skranji:wght@400;700&family=Young+Serif&display=swap");

* {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;

  font: size 15px;
  line-height: 1.6;
  color: #333;
}
*,
*:before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  height: 100%;
}
/* intro */

.intro {
  width: 100%;
  height: 100vh;
  background: url("./images/жпн картинка.jpg") center no-repeat;
  background-size: auto;
}

.intro__inner {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: 95%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;

  line-height: 1;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;

  background-color: #fff;
}

.intro__suptitle {
  margin-bottom: 20px;
  font-size: 72px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.header {
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* Nav */

.nav {
  font-size: 14px;
  text-transform: uppercase;
}
.nav {
  background-color: inherit !important;
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.1c linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fce38a;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link.active {
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.nav__link.active:after {
  opacity: 1;
}

/* button */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #fff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 1s linear, color 1s linear;
}

.btn {
  background-color: inherit !important;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* Slider */
.slider {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  font-size: 18px;
  width: 23%;
  border-top: 3px solid #fff;
  opacity: 0.7;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  background-color: rgb(255, 0, 0);

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/* Section */

.section {
  padding: 80px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}

.section__title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgb(255, 123, 0);
  margin: 30px auto;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/* About */

.about {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.about__item {
  margin: 15px;
  width: 380px;
  position: relative;
  background-color: #95e1d3;
}

.about__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
  opacity: 0.1;
}

.about__item:hover .about__text {
  opacity: 1;
}

.about__img {
  height: 100%;
  background: linear-gradient(to bottom, #ff7b00, #fce38a);
  transition: transform 0.1s linear;

  img {
    width: 100%;
    height: 100%;
  }
}

.about__img img {
  display: block;
  transition: opacity 0.2s linear;
}

.about__text {
  opacity: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50, 0);
  transition: opacity 0.2s linear;
}

/* Statistics */

.statistics {
  background-color: #ff8000;
}

.stat {
  display: flex;
}

.stat__item {
  padding: 70px 25px;
  flex: 1 1 0;
  border-left: 1px solid #fff;
  text-align: center;
  color: #fff;
}

.stat__item:last-child {
  border-right: 1px solid #fff;
}

.stat__count {
  margin-bottom: 10px;
  line-height: 1;
  font-size: 72px;
  font-weight: 700;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* katolog */

.katolog {
  margin-top: -40px;
  display: flex;
  justify-content: space-around;
}

.katolog__item {
  margin: 60px;
  width: 400px;
  position: relative;
  background-color: #95e1d3;
}

.katolog__item:hover .katolog__img {
  transform: translate3d(-10px, -10px, 0);
}

.katolog__item:hover .katolog__img img {
  opacity: 0.1;
}

.katolog__item:hover .katolog__text {
  opacity: 1;
}

.katolog__img {
  height: 100%;
  background: linear-gradient(to bottom, #ff7b00, #fce38a);
  transition: transform 0.1s linear;

  img {
    width: 100%;
    height: 100%;
  }
}

.katolog__img img {
  display: block;
  transition: opacity 0.2s linear;
}

.katolog__text {
  opacity: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;

  z-index: 2;
  transform: translate3d(0, -50, 0);
  transition: opacity 0.2s linear;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.katolog__cena {
  text-align: center;
  color: #333;
}

/* Contacts */

.contacts {
  background-color: #333;
  color: #333;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

.contacts__logo {
  color: #fff;
  font-size: 40px;
}

/* Pon */

.pon {
  width: 100%;
  max-width: 1200px;
  height: 80px;
}

/* Number */

.number__link {
  font-size: 40px;
}
